.labeled-text-input {
    display: block;
    margin: 0.8rem 0;
}

.label-text {
    display: block;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.6rem;
}

.labeled-input {
    border: 0.05rem solid var(--gray);
    border-radius: 0.25rem;
    color: var(--gray);
    margin: 0.5rem;
    min-width: 25rem;
    outline: none;
    padding: 0.75rem;
    width: 100%;
}
