.pagination-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    font-weight: bold;
    margin-top: 1rem;
}

.pagination-bar-page,
.pagination-bar-active-page,
.pagination-bar-previous-page,
.pagination-bar-break,
.pagination-bar-next-page {
    background-color: var(--yellow);
    border: 0.05rem solid var(--black);
    border-radius: 0.25rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 1rem;
    padding: 0.5rem 0.75rem;
}

.pagination-bar-page-link,
.pagination-bar-active-link,
.pagination-bar-previous-link,
.pagination-bar-next-link,
.pagination-bar-break {
    outline: none;
}

.pagination-bar-break {
    background-color: var(--light-yellow);
    border: none;
    cursor: default;
}

.pagination-bar-active-page {
    background-color: var(--purple);
    color: var(--white);
}

.paginate-bar-disabled-page {
    display: none;
}
