.cards-list {
    margin: 3rem 4rem 0 2rem;
}

.card-list-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem 3rem 1.5rem;
}

.card-search-bar {
    background-color: #fff9ec;
    border: 0.05rem solid #5e6472;
    border-radius: 0.25rem;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.5rem 0.75rem;
}

.card-search-bar__icon {
    color: #5e6472;
    margin-right: 0.5rem;
}

.card-search-bar__input {
    background-color: #fff9ec;
    border: none;
    color: #5e6472;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.card-search-bar__input:focus {
    outline: none;
}

.card-list-header-intro__title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0 0 0.75rem 0;
    text-align: center;
}

.card-list-header-intro__text {
    font-size: 1rem;
    text-align: center;
}

.card-items-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 2.25rem;
}

.card-item {
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
}

.card-item__img {
    border-radius: 0.75rem;
    margin-bottom: 0.25rem;
}

.card-item__name {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1.55rem;
    text-align: center;
}
