.reading-list-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    text-align: center;
}

.reading-list-title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.75rem;
}
