.card-item {
    margin-bottom: 1.5rem;
    padding: 0rem 1rem;
}

.card-image {
    border-radius: 0.75rem;
    cursor: pointer;
    margin-bottom: 0.25rem;
}

.on-reading {
    border-radius: 0.15rem;
    max-height: 12.5rem;
    margin: 0 0 0.75rem 0;
}
