.radio-input-form {
    padding: 0.25rem 0 0 0.5rem;
}

.radio-input-form__label {
    display: block;
    margin-top: 0.25rem;
}

.radio-input-form__label-text {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    padding: 0.5 0 0 0.5rem;
}

.radio-input-form__label {
    outline: none;
}
