.register-page {
    min-height: 100%;
}

.register-page__title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 3rem;
    text-align: center;
}

.register-page__form {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    padding: 2rem 0;
}
