.cards-list {
    margin: 3rem 4rem 0 2rem;
}

.cards-list__title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.cards-items-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 2.25rem;
}
