.form-label__text--radio {
    font-size: 0.9rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.form-radio-inputs {
    padding: 0.25rem 0 0 0.25rem;
}

.form-radio-inputs__label {
    display: block;
    margin-top: 0.25rem;
}

.form-radio-inputs__label:focus {
    outline: none;
}
