.card-list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1rem 3rem 3.25rem;
    text-align: center;
}

.card-list-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-list-title {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0.75rem;
}
