.sign-out-button {
    background-color: #f5a254;
    border: 0.05rem solid #696969;
    border-radius: 0.5rem;
    color: #361714;
    cursor: pointer;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: 3rem;
    outline: none;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease 0s;
}

.sign-out-button:hover {
    background-color: #9e6b7e;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
